:root{
    --primary: #FF6F61;
    --secondary:  #4A90E2;
    --accent:  #71C187;
    --neutral:  #bebdbd;
    --text: #333333;
}

body{
    background-color: var(--neutral);
    margin: 0;
}


.sidebarAndPage{
    display: flex;
}

.sideBar{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.page{
    width: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
}

.pageHead{
    width: 100%;
}

.infoTiles{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.infoTile{
    width: 10rem;
    height: 5rem;
}

.pageTable{
    width: 100%;
}
